<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <validation validateIntegratedModeConfiguration="false" />
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\asus\appdata\local\programs\python\python37\python.exe|c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
        <directoryBrowse enabled="true" />
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\Users\ASUS\PycharmProjects\DataBase\mydatabase" />
            <add key="DJANGO_SETTINGS_MODULE" value="mydatabase.settings" />
        </appSettings>
    <system.web>
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
    </configuration>